<app-poll-create (addPoll)='addPoll($event)'></app-poll-create>

<button (click)='logout($event)'>Log Out</button>

<h2>Search Here!</h2>
<form (submit)='search($event)'>
    <input type="text" name='searchTerm' [(ngModel)]='searchTerm'>
    <br />
    <input type="submit" >
</form>
<br />
<button (click)='reset()'>New Search</button>

<h2>Current Polls!</h2>
<div *ngIf='all_polls'>
  <table>
    <thead>
      <th>Name</th>
      <th>Survey Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let poll of all_polls" class='poll'>
        <td>{{ poll.name }}</td>
        <td>{{ poll.question }}</td>
        <td>{{ poll.createdAt | date: 'medium' }}</td>
        <!-- <td><button *ng-show="user.id==poll.name">Delete</button></td> -->
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf='!all_polls'>
    <p>Hmm...Sorry nothing here</p>
</div>

<div *ngIf='!_userService.logged_in_user._id'>
  <p>Log in to see your listings!</p>
