<h2>Current Polls!</h2>
<div *ngIf='_pollService.logged_in_poll._id'>
<h3>{{ poll.question }}</h3>
  <table>
    <tr>
      <thead>
        <th>Option</th>
        <th>Current Count of Votes</th>
        <th>Action</th>
      </thead>
    </tr>
    <tbody>
      <tr class='poll'>
        <td>{{ poll.option1.body }}</td>
        <td>{{ poll.option1.ranking }}</td>
        <td><button class='up' (click)="voteUp(option1)">Vote Up</button></td>
      </tr>
      <tr class='poll'>
        <td>{{ poll.option2.body }}</td>
        <td>{{ poll.option2.ranking }}</td>
        <td><button class='up' (click)="voteUp(option2)">Vote Up</button></td>
      </tr>
      <tr class='poll'>
        <td>{{ poll.option3.body }}</td>
        <td>{{ poll.option3.ranking }}</td>
        <td><button class='up' (click)="voteUp(option3)">Vote Up</button></td>
      </tr>
      <tr class='poll'>
        <td>{{ poll.option4.body }}</td>
        <td>{{ poll.option4.ranking }}</td>
        <td><button class='up' (click)="voteUp(option4)">Vote Up</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf='!_pollService.logged_in_poll._id'>
  <p>Create a Poll to see options!</p>

<p></p>
