<h2>Current Polls!</h2>

<div *ngIf='all_polls'>
  <table>
    <thead>
      <th>Name</th>
      <th>Survey Question</th>
      <th>Date Posted</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let poll of all_polls" class='poll'>
        <td>{{ poll.name }}</td>
        <td>{{ poll.question }}</td>
        <td>{{ poll.createdAt | date: 'medium' }}</td>
        <!-- <td><button *ng-show="user.id==poll.name">Delete</button></td> -->
      </tr>
    </tbody>
  </table>
</div>

<app-poll-create (newPoll)= 'newPoll($event)'></app-poll-create>
